<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cybernex 2.0</title>
    //- <link rel="stylesheet" href="../static/CSS/main_style.css">
    link(rel="stylesheet", href="../static/CSS/main_style.css")
    <link rel="icon" href="../static/src/cwc-logo.ico">
</head>
<body>
    <div class="title-click">
        <p>Click Here</p>
        <P> To scan your Biometrics</P>
    </div>
    <!---- Hidden Open / Close Toggles ---->
    <input type="radio" id="nav-close" name="nav-toggle" value="nav-close">
    <input type="radio" id="nav-toggle" name="nav-toggle" value="nav-toggle">
    <!---- END Hidden Toggles ---->
    <!---- Visual Open Menu Toggle ---->
    <a href="javascript:void(0);"  onclick="toggleTextVisibility(document.querySelector('.logo-text')), toggleBackground()" class="nav-toggle">
        <label for="nav-toggle"></label>
        <figure></figure>
        <figure></figure>
        <figure></figure>
    </a>
    <!---- END Visual Open Menu Toggle ---->
    <!---- Visual Close Menu Toggle ----->
    <a href="javascript:void(0);" class="nav-close">
        <label for="nav-close"></label>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
            <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
        </svg>
    </a>
    <!---- END Visual Close Menu Toggle ---->
    <div class="logo-text" id="textContainer">
        <h1 class="animated-text">CyberWarriors Club</h1>
    </div>
    <!----- Main Navigation ---->
    <nav>
        <ul>
            //- <li><a href="/task-1" title="Task 1" target="_blank">Task 1</a></li>
            li
                a(href= sequence, title="Task 1", target="_blank") Task 1
            li
                a(href= sequence, title="Task 2", target="_blank") Task 2
            li
                a(href= sequence, title="Task 3", target="_blank") Task 3
            li
                a(href= sequence, title="Task 4", target="_blank") Task 4
            li
                a(href= sequence, title="Task 5", target="_blank") Task 5
            //- <li><a href="/task-2" title="Task 2" target="_blank">Task 2</a></li>
            //- <li><a href="/task-3" title="Task 3" target="_blank">Task 3</a></li>
            //- <li><a href="/task-4" title="Task 4" target="_blank">Task 4</a></li>
            //- <li><a href="/task-5" title="Task 5" target="_blank">Task 5</a></li>
        </ul>
    </nav>
    <!---- END Main Navigation ---->
</body>
    script(src="../static/JS/main_script.js") 
</html>
