<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 5</title>
</head>
<link rel="stylesheet" href="../static/CSS/task_5_style.css">
link(rel="stylesheet", href="../static/CSS/task_1_style.css")
<link rel="icon" href="../src/cwc-logo.ico">
<body> <!-- partial:index.partial.html -->
    //- <section class="form-section display-none">
    //-     <form action="" method="post" class="signin">
    //-         <div class="signin modal">
    //-             <h2 class="modal-heading">CONGRATULATIONS!</h2>
    //-             <p class="decrypt">On Completing The Fifth Task</p>
    //-             <p class="decrypt margin text-center">In the midst of a bustling bazaar, a street-smart cat with sunglasses perched atop its head, eyed an empty Amazon box—a perfect napping spot. It had plans to spruce up its fur with some sunscreen and foundation, but alas, it was not to be. The Milton bottle it used to store its grooming essentials was missing, along with the nail paint remover it fancied as a potion. Its muffler lay forgotten in a corner, and the crab bandage it had playfully swiped was now just a memory. The cat’s daydream of nibbling on a Kit Kat faded, as the Wild Stone deodorant can it used as a drum was nowhere in sight.</p>
    //-             <div class="inputBox">
    //-                 <button type="submit" class="submit-btn">Yeah! Got It</button>
    //-             </div>
    //-         </div>
    //-     </form>
    //- </section>
    <div class="form-section hide">
        <form action="" method="post" class="signin content">
            <div class="signin modal">
                <h2 class="modal-heading flex-justify-center">CONGRATULATIONS!</h2>
                <p class="decrypt flex-justify-center">On Completing The Fifth Task</p>
                <p class="decrypt flex-justify-center margin text-center">In the midst of a bustling bazaar, a street-smart cat with sunglasses perched atop its head, eyed an empty Amazon box—a perfect napping spot. It had plans to spruce up its fur with some sunscreen and foundation, but alas, it was not to be. The Milton bottle it used to store its grooming essentials was missing, along with the nail paint remover it fancied as a potion. Its muffler lay forgotten in a corner, and the crab bandage it had playfully swiped was now just a memory. The cat’s daydream of nibbling on a Kit Kat faded, as the Wild Stone deodorant can it used as a drum was nowhere in sight.</p>
                <div class="inputBox flex-justify-center">
                    <button type="submit" class="submit-btn">Yeah! Got It</button>
                </div>
            </div>
        </form>
    </div>
    <section> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span  id="click"></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span>

        <div class="signin">
            <div class="content">
                <h2>Decrypt</h2>
                <p class="decrypt">Decrypt The Message Below</p>
                <p class="decrypt-code">Qmpsf Dokg wb hvs Ponoof</p>
                <form class="form" id="myForm">
                    <div class="inputBox">
                        <input type="text"  id="answer" required> <i>Enter Your Message</i>
                    </div>
                    <div class="inputBox">
                        //- <input type="submit" value="Submit"  style="color: white;">
                        <button class="submit-btn" id="submit-answer">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section> <!-- partial -->
    <div class="hide">
        p#progress= progress 
    </div>
</body>
<link rel="script" href="main_script.js">
script(src="../static/JS/task_5.js") 
</html>