<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 3</title>   
</head>
<link rel="stylesheet" href="../static/CSS/task_3_style.css">
link(rel="stylesheet", href="../static/CSS/task_1_style.css")
<link rel="icon" href="../src/cwc-logo.ico">
<body> <!-- partial:index.partial.html -->
    //- <section class="form-section display-none">
    //-     <form action="" method="post" class="signin">
    //-         <div class="signin modal">
    //-             <h2 class="modal-heading">CONGRATULATIONS!</h2>
    //-             <p class="decrypt">On Completing The Third Task</p>
    //-             <p class="decrypt margin text-center">In a bustling cityscape, a resourceful raven with a penchant for shiny objects perched atop a lamppost, its gaze fixed on a black t-shirt fluttering on a clothesline. It had planned to trade the shirt for a lighter it coveted from the corner store. Yet, its grand scheme was thwarted, for the screwdriver it used to pry open its treasure box was missing, along with the controller for its automated nest gate. The raven’s collection, including a red-colored hairband, eye drops for the dry season, a sparkling bracelet, a pillow cover woven from the finest threads, a weaving needle it fancied as a sword, and a pair of formal shoes it had amusingly attempted to wear, all lay locked away.</p>
    //-             <div class="inputBox">
    //-                 <button type="submit" class="submit-btn">Yeah! Got It</button>
    //-             </div>
    //-         </div>
    //-     </form>
    //- </section>
    <div class="form-section hide">
        <form action="" method="post" class="signin content">
            <div class="signin modal">
                <h2 class="modal-heading flex-justify-center">CONGRATULATIONS!</h2>
                <p class="decrypt flex-justify-center">On Completing The Third Task</p>
                <p class="decrypt flex-justify-center margin text-center">In a bustling cityscape, a resourceful raven with a penchant for shiny objects perched atop a lamppost, its gaze fixed on a black t-shirt fluttering on a clothesline. It had planned to trade the shirt for a lighter it coveted from the corner store. Yet, its grand scheme was thwarted, for the screwdriver it used to pry open its treasure box was missing, along with the controller for its automated nest gate. The raven’s collection, including a red-colored hairband, eye drops for the dry season, a sparkling bracelet, a pillow cover woven from the finest threads, a weaving needle it fancied as a sword, and a pair of formal shoes it had amusingly attempted to wear, all lay locked away.</p>
                <div class="inputBox flex-justify-center">
                    <button type="submit" class="submit-btn">Yeah! Got It</button>
                </div>
            </div>
        </form>
    </div>
    <section> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span id="click"></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span ></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span>
        <div class="signin">
            <div class="content">
                <h2>Decrypt</h2>
                <p class="decrypt">Decrypt The Message Below</p>
                <p class="decrypt-code">Dmhqz’e Oknqd Omotq</p>
                <form class="form" id="myForm">
                    <div class="inputBox">
                        <input type="text"  id="answer" required> <i>Enter Your Message</i>
                    </div>
                    <div class="inputBox">
                        //- <input type="submit" value="Submit"  style="color: white;">
                        <button class="submit-btn" id="submit-answer">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section> <!-- partial -->
    <div class="hide">
        p#progress= progress 
    </div>
</body>
//- <link rel="script" href="main_script.js">
script(src="../static/JS/task_3.js") 
</html>