<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 4</title>
</head>
<link rel="stylesheet" href="../static/CSS/task_4_style.css">
link(rel="stylesheet", href="../static/CSS/task_1_style.css")
<link rel="icon" href="../static/src/cwc-logo.ico">
<body> <!-- partial:index.partial.html -->
    //- <section class="form-section display-none">
    //-     <form action="" method="post" class="signin">
    //-         <div class="signin modal">
    //-             <h2 class="modal-heading">CONGRATULATIONS!</h2>
    //-             <p class="decrypt">On Completing The Fourth Task</p>
    //-             <p class="decrypt margin text-center">In a cozy den, a clever fox had an unusual collection of human objects. It wanted to trade a lamp for a speaker to enjoy the forest melodies, but it couldn’t. The belt it used to hang its treasures was broken, the sev namkeen it loved was spilled and eaten by birds, and the spoon it fancied as a scepter was lost. Its stash of Hide and Seek biscuits and chew gum was inaccessible, locked in a laptop bag it couldn’t open without the A4 size paper where it scribbled its secrets. And the toothpaste, which it used to polish its finds, was squeezed empty</p>
    //-             <div class="inputBox">
    //-                 <button type="submit" class="submit-btn">Yeah! Got It</button>
    //-             </div>
    //-         </div>
    //-     </form>
    //- </section>
    <div class="form-section hide">
        <form action="" method="post" class="signin content">
            <div class="signin modal">
                <h2 class="modal-heading flex-justify-center">CONGRATULATIONS!</h2>
                <p class="decrypt flex-justify-center">On Completing The Fourth Task</p>
                <p class="decrypt flex-justify-center margin text-center">In a cozy den, a clever fox had an unusual collection of human objects. It wanted to trade a lamp for a speaker to enjoy the forest melodies, but it couldn’t. The belt it used to hang its treasures was broken, the sev namkeen it loved was spilled and eaten by birds, and the spoon it fancied as a scepter was lost. Its stash of Hide and Seek biscuits and chew gum was inaccessible, locked in a laptop bag it couldn’t open without the A4 size paper where it scribbled its secrets. And the toothpaste, which it used to polish its finds, was squeezed empty</p>
                <div class="inputBox flex-justify-center">
                    <button type="submit" class="submit-btn">Yeah! Got It</button>
                </div>
            </div>
        </form>
    </div>
    <section> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span id="click"></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span>

        <div class="signin"  id="decrypt-box">
            <div class="content">
                <h2>Decrypt</h2>
                <p class="decrypt">Decrypt The Message Below</p>
                <p class="decrypt-code">Lzw Xgp’k Vayalsd Zgsjv</p>
                <form class="form" id="myForm">
                    <div class="inputBox">
                        <input type="text" id="answer" required> <i>Enter Your Message</i>
                    </div>
                    <div class="inputBox">
                        //- <input type="submit" value="Submit"  style="color: white;">
                        <button class="submit-btn" id="submit-answer">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section> <!-- partial -->
    <div class="hide">
        p#progress= progress 
    </div>
</body>
    script(src="../static/JS/task_4.js") 
</html>