<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 1</title>
</head>
<link rel="stylesheet" href="../static/CSS/task_1_style.css">
<link rel="icon" href="../src/cwc-logo.ico">
<body> <!-- partial:index.partial.html -->
    <div class="form-section hide">
        <form action="" method="post" class="signin content">
            <div class="signin modal">
                <h2 class="modal-heading flex-justify-center">CONGRATULATIONS!</h2>
                <p class="decrypt flex-justify-center">On Completing The First Task</p>
                <p class="decrypt flex-justify-center margin text-center">In a quaint village, a clever monkey had devised a plan to trade for his favorite treats. He had gathered a scrunchy, a Polaroid photo he found amusing, a jar of tangy pickle, and some double-sided tape from the local craftsman. His eyes were set on a bright red lipstick for the carnival clown, a 10th class marksheet printout he had snatched from a schoolyard, a smiley ball to cheer up the grumpy tortoise, a lollipop from the candy store’s sample tray, and an empty Pepsi can to add to his collection. But alas, his plan was foiled as he realized he couldn’t barter any of these without the 20 rupee coin he needed to use the coin-operated vending machine, which, to his dismay, was nowhere to be found.</p>
                <div class="inputBox flex-justify-center">
                    <button type="submit" class="submit-btn">Yeah! Got It</button>
                </div>
            </div>
        </form>
    </div>
    
    <section> <span></span> <span id="click"></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span>
        <div class="signin">
            <div class="content">
                <h2>Decrypt</h2>
                <p class="decrypt">Decrypt The Message Below</p>
                <p class="decrypt-code">Uqtwj Imwkl xgj lzw Ugaf</p>
                <form class="form" id="myForm">
                    <div class="inputBox">
                        <input type="text" id="answer" required> <i>Enter Your Message</i>
                    </div>
                    <div class="inputBox">
                        <!-- <input id="submit-answer" value="Submit" style="color: white;"> -->
                        <button class="submit-btn" id="submit-answer">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section> <!-- partial -->
</body>
script(src="../static/JS/task_1.js") 
</html>