<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 2</title>
</head>
link(rel="stylesheet", href="../static/CSS/task_1_style.css")
<link rel="stylesheet" href="../static/CSS/task_2_style.css">
<link rel="icon" href="/src/cwc-logo.ico">
<body> <!-- partial:index.partial.html -->
    <section class="form-section display-none">
        <form action="" method="post" class="signin">
            <div class="signin modal">
                <h2 class="modal-heading">CONGRATULATIONS!</h2>
                <p class="decrypt">On Completing The Second Task</p>
                <p class="decrypt margin text-center">In a whimsical garden, a teddy bear named Jordan donned a cap hat and admired a pink flower, contemplating its day. It wanted to style its fur with some hairwax and add a touch of glamour with a metallic earring, but alas, it couldn’t. The keychain to the treasure box, which held its precious protein powder and favorite Cheetos, was missing. Even the Volini spray, needed for the soreness after a playful day, was out of reach. All because the bear’s cherished 10th class marksheet, which it kept under its pillow, had vanished, along with the 20 rupee coin it had saved for a rainy day.</p>
                <div class="inputBox">
                    <button type="submit" class="submit-btn">Yeah! Got It</button>
                </div>
            </div>
        </form>
    </section>
    <section> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span  id="click"></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
        <span></span> <span></span> <span></span> <span></span> <span></span>

        <div class="signin">
            <div class="content">
                <h2>Decrypt</h2>
                <p class="decrypt">Decrypt The Message Below</p>
                <p class="decrypt-code">Zkjje’y Jomozgr Jorkssg</p>
                <form class="form" id="myForm">
                    <div class="inputBox">
                        <input type="text" id="answer" required> <i>Enter Your Message</i>
                    </div>
                    <div class="inputBox">
                        //- <input type="submit" value="Submit" style="color: white;">
                        <button class="submit-btn" id="submit-answer">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="hide">
            p#progress= progress 
        </div>
    </section> <!-- partial -->
</body>
script(src="../static/JS/task_2.js") 
</html>